@keyframes spin-once {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-once {
    animation: spin-once 1s linear 
    forwards;
  }

button1 {
    color: #F8F8F2;  /* Default text color */
    border: 0;
    outline: none;
    background: none;
    position: relative;
    padding-right: 2px;
    overflow: hidden;  /* Hide the pseudo-element outside the button */
    font-family: serif;
    font-size: 65px;
    transition: color 0.2s ease-in;
    
}

button1:hover {
    color: #FF6B35;  /* Change text color on hover */
}

.hover-text{
    position: absolute;
    content: '';
    color: #FF6B35;
    width: 0%;
    inset: 0;
    overflow: hidden;
    border-right: 2px solid #FF6B35;
    transition: width 0.4s ease;
}

button1:hover .hover-text{
    width: 100%;
    filter:drop-shadow(0 0 23px #FF6B35);
}

form {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #757575;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #c8c6c6;
}

form input[type="text"],
form input[type="email"],
form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #fffefe;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
  min-height: 120px;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}